.caption {
  position: absolute;
  bottom: 0px;
  left: 0px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);

  width: 370px;
  height: 70px;
  margin: 0px;
  padding-top: 27px;
  padding-bottom: 27px;
}
