* {
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  text-decoration: none;
  padding: 0px;
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.body {
  font-family: Roboto;
  font-style: normal;
}
.header {
  border: 1px solid #ececec;
}

ul {
  list-style: none;
}
a {
  margin-left: 0px;
}
h1 {
  margin: 0px;
}
